WORKER=${WORKER:-1}
WORK_DIR=${WORK_DIR:-/aux/work}/$WORKER
LOG_FILE=$WORK_DIR/ph2dl.log
ERROR_LOG_FILE=$WORK_DIR/ph2dl-errors.log
FAILURE_DIR=$WORK_DIR/failures
OUT_DIR=/aux/ph2coin
IASI_SAVE=/aux/ph2coin/iasi/nat
TROPOMI_SAVE=/aux/ph2coin/tropomi/nc
CACHEDIR=$WORK_DIR/cache
CACHE_MAX_MB=3000
#EUMETSAT_BASE="https://api.eumetsat.int/data/download/collections"
EUMETSAT_BASE="https://api.eumetsat.int/data/download/collections/EO%3AEUM%3ADAT%3AMETOP%3AIASIL1C-ALL/products"
S5P_AUTH="s5pguest:s5pguest"
CURL_MAX_TIME=2000
EUMETSAT_API_TOKEN_VALIDITY=3540
EUMETSAT_API_AUTH=ZzVicks5b09BM1lWZE5UajlqSVhjT24zM3dBYTpYY000bE1wRllOVkE2bGZVWDdiTmFJVmhLN3Nh
IASINAT2NEX=../iasi-reader/iasinat2nex
IASIFPEX=target/release/iasifpex
TROPOMIFPEX=target/release/tropomifpex
S5PDOWNLOAD=target/release/s5pdownload
